@import 'partials/_mixin';
@import 'partials/_variables';
@import 'partials/_partialStyles';
@import 'partials/_interactiveStyles';

html {
    background-color: $backgroundColor;
}

header {
    background-color: $primaryColor;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;

    #logo {
        width: 50px;
        margin-left: auto;
        margin-right: auto;
        padding: 25px;
        background-color: $white;
        margin: 25px;
    }

    #logoQuote {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        border-style: solid;
        border-width: 2px;
        border-color: $fadedColor;
    }
}

body {
    margin: 0px;
}

mark {
    color: $fadedColor;
    background-color: rgba(0,0,0,0);
    font-weight: bold;
}

main {
    border-left-color: $fadedColor;
    border-left-style: ridge;
    border-left-width: 5px;
    border-right-color: $fadedColor;
    border-right-style: ridge;
    border-right-width: 5px;
    margin: 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

ul {
    background-color: grey;
    padding: 15px;
    
    li {
        margin: 10px;
        margin-left: 25px;
    }

    li:first-of-type {
        list-style-image: src("graphics/user-icon.svg");
    }

    li:last-of-type {
        list-style-image: src("graphics/heart.svg");
    }
}

footer {
    display: flex;
    justify-content: center;
    margin: 15px;
}