// Animated logo
#logo {
    transition: 5s;
}
#logo:hover {
    transform: rotate(360deg);
}


// Animated image info tab
ul {
    transition: .5s;
}

figure:hover {

    ul {
        transform: translateY(-115px);
    }
}